<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div><h1>Tasks</h1></div>
    <div>
        <div class = 'box'>
            <h2>Create a Task </h2><br>
            <div class = 'create'>
                <form action = '' method = 'post'>
                    {% csrf_token %}<br>
                    <input type = 'text' name = 'Title' placeholder="Task Title"><br>
                    <textarea id = 'Description' name = 'Description' placeholder="Task Description"></textarea> <br>
                    <input type = 'date' name = 'DueDate'><br>
                    <input type = 'submit'>
            </div>
            </form>
            {% for message in messages %}
            <h3> {{message}} </h3>
            {% endfor %}
        </div>
    </div>
    <div class = 'boxTask'>
        {% for task in tareas %}
        <div class = 'task'>
            {{task.Title}}<br>  {{task.Description}} <br> {{task.DueDate}}<br>

            <form action="{% url 'delete' %}" method="post">
                {% csrf_token %}
                <div class='delete'>
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <input type='submit' name='Delete' value='Delete' class='delete'>
                </div>
            </form>

        </div> <br>
        {% endfor %}
    </div>
</body>
</html>